/* ----------------- CSS Dasar ----------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: el messiri;
    src: url(./assets/elmessiri/ElMessiri-Regular.ttf);
}

@font-face {
    font-family: el messiri bold;
    src: url(./assets/elmessiri/ElMessiri-Bold.ttf);
}



/* ----------------- Navbar ----------------- */

nav {
    padding: 25px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left-nav {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.left-nav .logo-left-nav {
    width: 65px;
}

.left-nav ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.left-nav ul li {
    display: inline-block;
    list-style: none;
    font-weight: 400;
    transition: 0.3s;
}

.left-nav ul li:hover {
    transform: scale(1.2);
}

.left-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    position: relative;
}

.right-nav img {
    width: 25px;
    transition: 0.3s;
}

.right-nav img:hover {
    transform: scale(1.2);
}



/* -------------------------------------------------- Bagian Login Admin -------------------------------------------------- */

/* ----------------- Login Admin ----------------- */

.login-admin-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 0 30px;
}

.login-admin-top h3 {
    padding: 10px 20px;
    background: #3CD363;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    box-shadow: 0 3px 5px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

.login-admin-top h3:hover {
    transform: scale(1.1);
}

.login-admin-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: url('./assets/admin/login-page.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

@keyframes bg-color-rotate {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}


.login-admin-container {
    width: 470px;
    margin: auto;
    padding: 50px 30px;
    background: rgba(97, 97, 97, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-admin-container h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 30px;
}

.login-admin-form-email,
.login-admin-form-password {
    margin-bottom: 15px;
}

.login-admin-form-email label,
.login-admin-form-password label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
    color: #D7D7D7;
    font-family: el messiri;
}

.login-admin-form-email input,
.login-admin-form-password input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

.login-admin-container p {
    color: red;
}

.login-admin-form-button {
    width: 100%;
    padding: 10px;
    background-color: #3CD363;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.login-admin-form-button:hover {
    background-color: #0D4E14;
}

.login-admin-hash {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background: rgba(97, 97, 97, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 40%;
    padding: 30px;
}

.login-admin-hash h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 25px
}

.login-admin-hash input {
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-family: el messiri;
}

.login-admin-hash button {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    background-color: #3CD363;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.login-admin-hash p {
    color: #1bff54;
    margin-top: 10px;
}



/* -------------------------------------------------- Bagian Admin -------------------------------------------------- */

/* ----------------- Admin ----------------- */

.admin-body {
    background: #FFFFFF;
    height: fit-content;
}

.admin-body-container {
    padding: 20px;
    height: fit-content;
}

.admin-top {
    text-align: center;
    width: 100%;
}

.admin-top-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-top-date button {
    padding: 7px 27px;
    background: #30A34D;
    color: #FFFFFF;
    border: none;
    font-family: el messiri;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.3s;
}

.admin-top-date button:hover {
    transform: scale(1.1);
}

.admin-top-date p {
    font-size: 19px;
    font-weight: 700;
}

.admin-top-title {
    margin-top: 50px;
}

.admin-top-title h1 {
    font-size: 55px;
    font-family: el messiri;
    font-weight: 800;
    color: #0D4E14;
}

.admin-main {
    margin-top: 100px;
}

.admin-main-panel-core {
    display: flex;
    justify-content: space-around;
}

.admin-main-panel-core h2 {
    font-weight: 700;
    font-family: el messiri;
    color: #616161;
    cursor: pointer;
    transition: 0.3s;
}

.admin-main-panel-core h2:hover {
    transform: scale(1.1);
}

.admin-main-panel-core h2.active {
    color: #30A34D;
}

.admin-main-panel hr {
    color: #616161;
}

.admin-main-topic {
    height: fit-content;
    padding: 30px 20px;
    width: 100%;
}

.admin-main-topic-artikel {
    width: 100%;
    height: fit-content;
}

.admin-main-topic-artikel-btn, .admin-main-topic-infaq-btn {
    width: fit-content;
    height: fit-content;
    margin-bottom: 80px;
}

.admin-main-topic-artikel-btn button, .admin-main-topic-infaq-btn button {
    padding: 10px 30px;
    color: #FFFFFF;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    font-family: el messiri;
    font-size: 17px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.admin-main-topic-artikel-btn button:hover, .admin-main-topic-infaq-btn button:hover {
    transform: scale(1.1);
}

.admin-main-topic-artikel-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.admin-main-topic-artikel-content-gambar-artikel {
    border-radius: 20px;
    max-width: 177px;
    max-height: 133px;
}

.admin-main-topic-artikel-content h1 {
    font-size: 35px;
    font-family: el messiri;
    max-width: 295px;
    line-height: 1;
}

.admin-main-topic-artikel-content-control {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.admin-main-topic-artikel-content-control button {
    border: none;
    border-radius: 20px;
    color: #000000;
    background: #FBBC04;
    font-weight: 700;
    font-family: el messiri;
    padding: 10px 45px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.admin-main-topic-artikel-content-control button:hover {
    transform: scale(1.1);
}

.admin-main-topic-artikel-content-control img {
    max-width: 27px;
    min-width: 27px;
    transition: 0.3s;
}

.admin-main-topic-artikel-content-control img:hover {
    transform: scale(1.1);
}



/* ----------------- Tulis Article ----------------- */

.tulisarticle-body, .update-infaq-body{
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
    /* background-color: rgb(255, 203, 203); */
}

.tulisarticle-container, .update-infaq-container {
    width: 100%;
    padding: 0 20px;
}

.tulisarticle-top, .update-infaq-top {
    text-align: left;
    margin-bottom: 50px;
}

.tulisarticle-top button, .update-infaq-top button {
    padding: 10px 27px;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.tulisarticle-top button:hover, .update-infaq-top button:hover {
    transform: scale(1.1);
}

.tulisarticle-main, .update-infaq-main {
    width: 100%;
    padding: 0 30px;
}

.tulisarticle-main-title, .update-infaq-main-title {
    padding: 20px 0;
}

.tulisarticle-main-title h1, .update-infaq-main-title h1 {
    color: #0D4E14;
    font-size: 3rem;
    font-family: el messiri;
}

.tulisarticle-main-core, .update-infaq-main-core {
    width: 100%;
    text-align: left;
}

.tulisarticle-main-core-tanggal, .update-infaq-main-core-tanggal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 20px;
    /* align-items: center; */
}

.tulisarticle-main-core-tanggal h5, .update-infaq-main-core-tanggal h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-tanggal input, .update-infaq-main-core-tanggal input {
    text-align: center;
    border: none;
    background: #D7D7D7;
    color: #000000;
    font-size: 1.3rem;
    font-family: el messiri;
    font-weight: 700;
    /* margin-left: 16px; */
    border-radius: 4px;
    padding: 15px 10px;
}

.tulisarticle-main-core-judul, .update-infaq-main-core-jumlah {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-judul h5 , .update-infaq-main-core-jumlah h5{
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-judul input, .update-infaq-main-core-jumlah input {
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    width: 50%;
    background: #D7D7D7;
    color: #000000;
    font-family: el messiri;
    font-size: 1.2rem;
}

.tulisarticle-main-core-fotosampul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-fotosampul h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-fotosampul input {
    margin-bottom: 5px;
    width: fit-content  ;
}

.tulisarticle-main-core-isikonten, .update-infaq-main-core-dari {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-isikonten h5, .update-infaq-main-core-dari h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-isikonten textarea {
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    background: #D7D7D7;
    color: #000000;
    font-family: el messiri;
    font-size: 1.2rem;
}

.update-infaq-main-core-dari input {
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    background: #D7D7D7;
    color: #000000;
    font-family: el messiri;
    font-size: 1.2rem;
}

.tulisarticle-main-core-btnsubmit, .update-infaq-main-core-btnsubmit {
    text-align: left;
    padding: 10px 0 50px 0;
}

.tulisarticle-main-core-btnsubmit button, .update-infaq-main-core-btnsubmit button {
    padding: 10px 27px;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.tulisarticle-main-core-btnsubmit button:hover, .update-infaq-main-core-btnsubmit button:hover {
    transform: scale(1.1);
}



/* -------------------------------------------------- Bagian Landing Page -------------------------------------------------- */

/* ----------------- Hero ----------------- */

.hero-container {
    background: url(../src/assets/hero/hero-background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-row {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-title h1 {
    font-size: 97px;
    font-family: el messiri bold;
    color: #FFFFFF;
    line-height: 1;
}

.hero-title h3 {
    font-size: 41px;
    font-weight: 300;
    font-family: el messiri;
    color: #FFFFFF;
}



/* ----------------- Jadwal Sholat ----------------- */

.jadwal-sholat {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: 20%;
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: 0 0 21px 3px rgb(29, 29, 29);
    height: fit-content;
}

.jadwal-sholat h3,h4,p {
    font-family: el messiri;
}

.jadwal-sholat-title {
    text-align: center;
    padding: 5px 0;
}

.jadwal-sholat-title h3 {
    color: #0D4E14;
    margin-bottom: 5px;
}

.jadwal-sholat-time {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px 10px;
    /* background: linear-gradient(to right, #3CD363, #6bff90); */
    /* justify-content: space-around; */
    /* height: 130px; */
    text-align: center;
    align-items: center;
}

.jadwal-sholat-time-core {
    padding: 30px;
    box-shadow: 0 0 5px rgb(29, 29, 29);
    border-radius: 10px;
    width: 120px;
    background: #FFFFFF;
    color: #616161;
    /* background: linear-gradient(to bottom, #3CD363, #30A34D); */
}

.jadwal-sholat-time-core.active {
    background: linear-gradient(to bottom, #3CD363, #30A34D);
    box-shadow: 0 0 7px rgb(29, 29, 29);
    color: #FFFFFF;
}



/* ----------------- Location ----------------- */

.location-container {
    height: 100vh;
    padding: 200px 0 80px 0;
    display: flex;
    justify-content: center;
}

.location-google-maps {
    background: url(../src/assets/location/location-background.png);
    width: 965.5px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 130.1px;
    border-radius: 20px;
}

.location-google-maps h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-family: el messiri;
    line-height: 1;
    margin-bottom: 50px;
    font-weight: 500;
}

.location-google-maps img {
    max-width: 85px;
    transition: 0.3s;
}

.location-google-maps img:hover {
    transform: scale(1.1);
}



/* ----------------- Article ----------------- */

.article-body {
    background: #FFFFFF;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.article-container {
    padding: 0 120px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-image-core {
    max-width: 729.58px;
    max-height: 435px;
    overflow: hidden;
    position: relative;
}

.article-image-core img {
    width: 100%; /* Pastikan gambar sesuai dengan kontainer */
    height: auto; /* Menjaga rasio gambar */
    position: relative;
    z-index: 1;
}

.article-image-core-explain {
    background: linear-gradient(to top, #0D4E14, rgba(30, 180, 46, 0));
    position: absolute; /* Supaya bisa menimpa */
    bottom: 0; /* Menempel di bagian bawah kontainer */
    left: 0; /* Mulai dari sisi kiri */
    width: 100%; /* Menutupi seluruh lebar kontainer */
    height: 100%;
    z-index: 2;
    display: flex; /* Untuk pengaturan isi */
    flex-direction: column; /* Susun vertikal */
    justify-content: flex-end; /* Beri jarak antara atas dan bawah */
    padding: 1rem;
}

.article-image-core-explain-top {
    text-align: left;
    padding-left: 10px;
}

.article-image-core-explain-top h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: el messiri;
}

.article-image-core-explain-top p {
    color: #D7D7D7  ;
    font-size: 0.8rem;
}

.article-image-core-explain-bottom {
    text-align: right;
}

.article-image-core-explain-bottom button {
    color: #000000;
    padding: 10px 27px;
    background: #FBBC04;
    font-size: 0.8rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-family: el messiri;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.article-image-core-explain-bottom button:hover {
    transform: scale(1.1)
}

.article-right-top {
    text-align: left;
    margin-left: 30px;
}

.article-right-top h1 {
    font-family: el messiri;
    font-size: 3.0rem;
    line-height: 1;
}

.article-right-top img {
    transition: 0.3s;
}

.article-right-top img:hover {
    transform: scale(1.1);
}



/* ----------------- Infaq User ----------------- */

.infaquser-body {
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    /* Layer 1: Gradient */
    background: linear-gradient(to right, rgba(13, 78, 20, 1) 0%, rgba(30, 180, 46, 0) 100%),
    /* Layer 2: Background Image */
    url('src/assets/infaquser/Shadaqah.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infaquser-container {
    padding: 150px 120px;
    width: 100%;
}

.infaquser-container h1 {
    font-size: 5rem;
    font-family: el messiri;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
}

.infaquser-container h2 {
    font-family: el messiri;
    color: #FFFFFF;
    margin-top: 10px;
    font-weight: 500;
    font-size: 2.7rem;
}

.infaquser-container button {
    color: #FFFFFF;
    padding: 19px 50px;
    font-family: el messiri;
    background: none;
    border: solid 2px #FBBC04;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.infaquser-container button:hover {
    transform: scale(1.1);
    background: #FBBC04;
    color: #000000;
    box-shadow: 0 3px 11px 0 rgb(29, 29, 29);
}

/* Overlay Styles */
.infaquser-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.infaquser-overlay-content {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.infaquser-overlay-content h3 {
    font-family: el messiri;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #000000;
}

.infaquser-account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.infaquser-account-input {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    color: #333;
    cursor: not-allowed;
    text-align: center;
    align-items: center;
}

.infaquser-copy-btn {
    background: #FBBC04;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.infaquser-copy-btn:hover {
    background: #e0a903;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.infaquser-overlay-content-head {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.infaquser-close-btn {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    align-self: flex-end;
    background: #ff4c4c;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infaquser-copy-notification {
    color: #28a745;
    font-family: el messiri;
    margin-top: 10px;
    font-size: 1rem;
    animation: fade-in 0.3s;
}

/* Fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




/* -------------------------------------------------- Bagian Profil Page -------------------------------------------------- */

/* ----------------- Profil ----------------- */

.profil-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.profil-sejarah-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #0D4E14;
    height: 100vh;
    padding: 0 20px;
}

.profil-sejarah-top {
    width: 100%;
    padding: 20px;
}

.profil-sejarah-top img {
    cursor: pointer;
    transition: 0.3s;
}

.profil-sejarah-top img:hover {
    transform: scale(1.1);
}

.profil-sejarah-main {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.profil-sejarah-main h1 {
    font-size: 70px;
    font-family: el messiri;
    color: #FFFFFF;
}

.profil-sejarah-main p {
    color: #FFFFFF;
    margin-top: 20px;
    text-align: justify;
    padding: 0 10px;
    /* font-size: 20px; */
}

.profil-visimisi-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    height: 100vh;
    padding: 30px 30px 0 30px;
}

.profil-visimisi-visi {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profil-visimisi-visi h1 {
    font-size: 70px;
    color: #0D4E14;
    font-family: el messiri;
    font-weight: 700;
}

.profil-visimisi-visi p {
    color: #0D4E14;
    font-size: 20px;
    font-weight: 500;
}

.profil-visimisi-misi {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profil-visimisi-misi h1 {
    font-size: 70px;
    color: #0D4E14;
    font-family: el messiri;
    font-weight: 700;
}

.profil-visimisi-misi p {
    color: #0D4E14;
    font-size: 20px;
    font-weight: 500;
}


/* -------------------------------------------------- Bagian Article Page -------------------------------------------------- */

/* ----------------- Article Page ----------------- */

.articlepage-body {
    width: 100%;
    background: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
}

.articlepage-container {
    background: #A4E2B9;
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    padding: 30px 0;
}

.articlepage-container-back {
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

.articlepage-container-back img {
    transition: 0.1s;
}

.articlepage-container-back img:hover {
    transform: scale(1.1);
}

.articlepage-title {
    width: 100%;
    padding: 70px;
    padding-top: 0;
}

.articlepage-title h1 {
    font-size: 70px;
    font-weight: 900;
    font-family: el messiri;
    color: #0D4E14;
}

.articlepage-search-searchbar {
    background: #FFFFFF;
    width: 50%;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.articlepage-search-searchbar button {
    background: #D7D7D7;
    border: none;
    padding: 17px 17px 11px 17px;
    border-radius: 10px;
    transition: 0.3s;
}

.articlepage-search-searchbar button:hover {
    transform: scale(1.1);
}

.articlepage-search-searchbar button img {
    width: 20px;
}

.articlepage-search-searchbar input[type="text"] {
    border: none;
    outline: none;
    margin-left: 17px;
    flex-grow: 1;
    font-size: 16px;
    color: #333;
}

.articlepage-search-searchbar input[type="text"]::placeholder {
    font-weight: 700;
    opacity: 0.5;
    font-family: el messiri;
}

.articlepage-main {
    width: 100%;
    margin-top: 50px;
    padding: 0 70px;
}

.articlepage-main-core {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.articlepage-main-core-left-image {
    width: fit-content;
}

.articlepage-main-core-left-image img {
    max-width: 375px;
    min-width: 375px;
    max-height: 265px;
    min-height: 265px;
    border-radius: 20px;
}

.articlepage-main-core-right {
    width: fit-content;
    margin-left: 30px;
}

.articlepage-main-core-right-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.articlepage-main-core-right-title h2 {
    font-size: 17px;
    font-family: el messiri;
}

.articlepage-main-core-right-title h1 {
    font-size: 48px;
    font-family: el messiri;
    line-height: 1;
}

.articlepage-main-core-right-button {
    width: 100%;
    text-align: center;
}

.articlepage-main-core-right-button button {
    color: #000000;
    padding: 10px 50px;
    background: #FBBC04;
    font-size: 0.8rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-family: el messiri;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.articlepage-main-core-right-button button:hover {
    transform: scale(1.1);
}



/* ----------------- Table ----------------- */

/* Responsif tabel */
.responsive-table {
  width: 100%; /* Tabel memenuhi lebar container */
  border-collapse: collapse; /* Menghilangkan gap antar sel */
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

/* Gaya header tabel */
.responsive-table thead {
  background-color: #28a745; /* Warna hijau */
  color: white; /* Warna teks putih */
}

/* Border dengan gaya double */
.responsive-table th,
.responsive-table td {
  border: 2px double #ddd; /* Warna abu-abu */
  padding: 12px; /* Jarak dalam sel */
}

/* Gaya baris */
.responsive-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Warna abu-abu muda */
}

.responsive-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* Warna putih */
}

/* Tabel fit secara responsif */
@media screen and (max-width: 768px) {
  .responsive-table {
    font-size: 14px; /* Ukuran font lebih kecil pada layar kecil */
  }

  .responsive-table th, .responsive-table td {
    padding: 8px; /* Padding lebih kecil pada layar kecil */
  }
}

/* Tombol hapus */
.delete-button {
  background-color: #dc3545; /* Warna merah */
  color: white; /* Teks putih */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #c82333; /* Warna merah lebih gelap saat hover */
}
