/* ----------------- CSS Dasar ----------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: el messiri;
    src: url(./assets/elmessiri/ElMessiri-Regular.ttf);
}

@font-face {
    font-family: el messiri bold;
    src: url(./assets/elmessiri/ElMessiri-Bold.ttf);
}



/* ----------------- Navbar ----------------- */

nav {
    padding: 25px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left-nav {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.left-nav .logo-left-nav {
    width: 65px;
}

.left-nav ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.left-nav ul li {
    display: inline-block;
    list-style: none;
    font-weight: 400;
    transition: 0.3s;
}

.left-nav ul li:hover {
    transform: scale(1.2);
}

.left-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    position: relative;
}

.right-nav img {
    width: 25px;
    transition: 0.3s;
}

.right-nav img:hover {
    transform: scale(1.2);
}



/* -------------------------------------------------- Bagian Login Admin -------------------------------------------------- */

/* ----------------- Login Admin ----------------- */

.login-admin-top {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 0 30px;
}

.login-admin-top h3 {
    padding: 10px 20px;
    background: #3CD363;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    box-shadow: 0 3px 5px 1px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

.login-admin-top h3:hover {
    transform: scale(1.1);
}

.login-admin-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: url('./assets/admin/login-page.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}

@keyframes bg-color-rotate {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}


.login-admin-container {
    width: 470px;
    margin: auto;
    padding: 50px 30px;
    background: rgba(97, 97, 97, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-admin-container h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 30px;
}

.login-admin-form-email,
.login-admin-form-password {
    margin-bottom: 15px;
}

.login-admin-form-email label,
.login-admin-form-password label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
    color: #D7D7D7;
    font-family: el messiri;
}

.login-admin-form-email input,
.login-admin-form-password input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

.login-admin-container p {
    color: red;
}

.login-admin-form-button {
    width: 100%;
    padding: 10px;
    background-color: #3CD363;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.login-admin-form-button:hover {
    background-color: #0D4E14;
}

.login-admin-hash {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    background: rgba(97, 97, 97, 0.5); 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 40%;
    padding: 30px;
}

.login-admin-hash h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 25px
}

.login-admin-hash input {
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-family: el messiri;
}

.login-admin-hash button {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    background-color: #3CD363;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.login-admin-hash p {
    color: #1bff54;
    margin-top: 10px;
}



/* -------------------------------------------------- Bagian Admin -------------------------------------------------- */

/* ----------------- Admin ----------------- */

.admin-body {
    background: #FFFFFF;
    height: fit-content;
}

.admin-body-container {
    padding: 20px;
    height: fit-content;
}

.admin-top {
    text-align: center;
    width: 100%;
}

.admin-top-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-top-date button {
    padding: 7px 27px;
    background: #30A34D;
    color: #FFFFFF;
    border: none;
    font-family: el messiri;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.3s;
}

.admin-top-date button:hover {
    transform: scale(1.1);
}

.admin-top-date p {
    font-size: 19px;
    font-weight: 700;
}

.admin-top-title {
    margin-top: 50px;
}

.admin-top-title h1 {
    font-size: 55px;
    font-family: el messiri;
    font-weight: 800;
    color: #0D4E14;
}

.admin-main {
    margin-top: 100px;
}

.admin-main-panel-core {
    display: flex;
    justify-content: space-around;
}

.admin-main-panel-core h2 {
    font-weight: 500;
    font-family: el messiri;
    color: #616161;
    cursor: pointer;
}

.admin-main-panel hr {
    color: #616161;
}

.admin-main-topic {
    height: fit-content;
    padding: 30px 20px;
    width: 100%;
}

.admin-main-topic-artikel {
    width: 100%;
    height: fit-content;
}

.admin-main-topic-artikel-btn {
    width: fit-content;
    height: fit-content;
    margin-bottom: 80px;
}

.admin-main-topic-artikel-btn button {
    padding: 10px 30px;
    color: #FFFFFF;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    font-family: el messiri;
    font-size: 17px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.admin-main-topic-artikel-btn button:hover {
    transform: scale(1.1);
}

.admin-main-topic-artikel-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.admin-main-topic-artikel-content-gambar-artikel {
    border-radius: 20px;
    max-width: 177px;
    max-height: 133px;
}

.admin-main-topic-artikel-content h1 {
    font-size: 35px;
    font-family: el messiri;
    max-width: 295px;
    line-height: 1;
}

.admin-main-topic-artikel-content-control {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.admin-main-topic-artikel-content-control button {
    border: none;
    border-radius: 20px;
    color: #000000;
    background: #FBBC04;
    font-weight: 700;
    font-family: el messiri;
    padding: 10px 45px;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.admin-main-topic-artikel-content-control button:hover {
    transform: scale(1.1);
}

.admin-main-topic-artikel-content-control img {
    max-width: 27px;
    min-width: 27px;
    transition: 0.3s;
}

.admin-main-topic-artikel-content-control img:hover {
    transform: scale(1.1);
}



/* ----------------- Tulis Article ----------------- */

.tulisarticle-body {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
    /* background-color: rgb(255, 203, 203); */
}

.tulisarticle-container {
    width: 100%;
    padding: 0 20px;
}

.tulisarticle-top {
    text-align: left;
    margin-bottom: 50px;
}

.tulisarticle-top button {
    padding: 10px 27px;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.tulisarticle-top button:hover {
    transform: scale(1.1);
}

.tulisarticle-main {
    width: 100%;
    padding: 0 30px;
}

.tulisarticle-main-title {
    padding: 20px 0;
}

.tulisarticle-main-title h1 {
    color: #0D4E14;
    font-size: 3rem;
    font-family: el messiri;
}

.tulisarticle-main-core {
    width: 100%;
    text-align: left;
}

.tulisarticle-main-core-tanggal {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-bottom: 20px;
}

.tulisarticle-main-core-tanggal h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
}

.tulisarticle-main-core-tanggal input {
    text-align: center;
    border: none;
    background: none;
    color: #000000;
    font-size: 1.3rem;
    font-family: el messiri;
    font-weight: 700;
}

.tulisarticle-main-core-judul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-judul h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-judul input {
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    width: 50%;
    background: #D7D7D7;
    color: #000000;
    font-family: el messiri;
    font-size: 1.2rem;
}

.tulisarticle-main-core-fotosampul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-fotosampul h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-fotosampul input {
    margin-bottom: 5px;
    width: fit-content  ;
}

.tulisarticle-main-core-isikonten {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tulisarticle-main-core-isikonten h5 {
    color: #0D4E14;
    font-size: 1.3rem;
    font-family: el messiri;
    margin-bottom: 5px;
}

.tulisarticle-main-core-isikonten textarea {
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    background: #D7D7D7;
    color: #000000;
    font-family: el messiri;
    font-size: 1.2rem;
}

.tulisarticle-main-core-btnsubmit {
    text-align: left;
    padding: 10px 0 50px 0;
}

.tulisarticle-main-core-btnsubmit button {
    padding: 10px 27px;
    background: #30A34D;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: el messiri;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.tulisarticle-main-core-btnsubmit button:hover {
    transform: scale(1.1);
}



/* -------------------------------------------------- Bagian Landing Page -------------------------------------------------- */

/* ----------------- Hero ----------------- */

.hero-container {
    background: url(../src/assets/hero/hero-background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-row {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-title h1 {
    font-size: 97px;
    font-family: el messiri bold;
    color: #FFFFFF;
    line-height: 1;
}

.hero-title h3 {
    font-size: 41px;
    font-weight: 300;
    font-family: el messiri;
    color: #FFFFFF;
}



/* ----------------- Jadwal Sholat ----------------- */

.jadwal-sholat {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: 20%;
    border-radius: 20px;
    padding: 10px 0;
    box-shadow: 0 0 21px 3px rgb(29, 29, 29);
    height: fit-content;
}

.jadwal-sholat h3,h4,p {
    font-family: el messiri;
}

.jadwal-sholat-title {
    text-align: center;
    padding: 5px 0;
}

.jadwal-sholat-title h3 {
    color: #0D4E14;
    margin-bottom: 5px;
}

.jadwal-sholat-time {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px 10px;
    /* background: linear-gradient(to right, #3CD363, #6bff90); */
    /* justify-content: space-around; */
    /* height: 130px; */
    text-align: center;
    align-items: center;
}

.jadwal-sholat-time-core {
    padding: 30px;
    box-shadow: 0 0 5px rgb(29, 29, 29);
    border-radius: 10px;
    width: 120px;
    background: #FFFFFF;
    color: #616161;
    /* background: linear-gradient(to bottom, #3CD363, #30A34D); */
}

.jadwal-sholat-time-core.active {
    background: linear-gradient(to bottom, #3CD363, #30A34D);
    box-shadow: 0 0 7px rgb(29, 29, 29);
    color: #FFFFFF;
}



/* ----------------- Location ----------------- */

.location-container {
    height: 100vh;
    padding: 200px 0 80px 0;
    display: flex;
    justify-content: center;
}

.location-google-maps {
    background: url(../src/assets/location/location-background.png);
    width: 965.5px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 130.1px;
    border-radius: 20px;
}

.location-google-maps h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-family: el messiri;
    line-height: 1;
    margin-bottom: 50px;
    font-weight: 500;
}

.location-google-maps img {
    max-width: 85px;
    transition: 0.3s;
}

.location-google-maps img:hover {
    transform: scale(1.1);
}



/* ----------------- Article ----------------- */

.article-body {
    background: #FFFFFF;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.article-container {
    padding: 0 120px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-image-core {
    max-width: 729.58px;
    max-height: 435px;
    overflow: hidden;
    position: relative;
}

.article-image-core img {
    width: 100%; /* Pastikan gambar sesuai dengan kontainer */
    height: auto; /* Menjaga rasio gambar */
    position: relative;
    z-index: 1;
}

.article-image-core-explain {
    background: linear-gradient(to top, #0D4E14, rgba(30, 180, 46, 0));
    position: absolute; /* Supaya bisa menimpa */
    bottom: 0; /* Menempel di bagian bawah kontainer */
    left: 0; /* Mulai dari sisi kiri */
    width: 100%; /* Menutupi seluruh lebar kontainer */
    height: 100%;
    z-index: 2;
    display: flex; /* Untuk pengaturan isi */
    flex-direction: column; /* Susun vertikal */
    justify-content: flex-end; /* Beri jarak antara atas dan bawah */
    padding: 1rem;
}

.article-image-core-explain-top {
    text-align: left;
    padding-left: 10px;
}

.article-image-core-explain-top h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-family: el messiri;
}

.article-image-core-explain-top p {
    color: #D7D7D7  ;
    font-size: 0.8rem;
}

.article-image-core-explain-bottom {
    text-align: right;
}

.article-image-core-explain-bottom button {
    color: #000000;
    padding: 10px 27px;
    background: #FBBC04;
    font-size: 0.8rem;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-family: el messiri;
    box-shadow: 0 3px 7px 0 rgb(29, 29, 29);
    transition: 0.3s;
}

.article-image-core-explain-bottom button:hover {
    transform: scale(1.1)
}

.article-right-top {
    text-align: left;
    margin-left: 30px;
}

.article-right-top h1 {
    font-family: el messiri;
    font-size: 3.0rem;
    line-height: 1;
}

.article-right-top img {
    transition: 0.3s;
}

.article-right-top img:hover {
    transform: scale(1.1);
}
